{% extends 'base.html.twig' %}

{% block title %}My Account- Wanwan Boutique{% endblock %}

{% block content %}
<h1>My Account</h1>
<p>Welcome {{app.user.firstname}} ! Here you can manage your personal info ;)</p>

{% endblock %}
