{% extends 'base.html.twig' %}

{% block title %}Modify my password - Wanwan Boutique{% endblock %}

{% block content %}
    <h1>Modify my password</h1>
    <a href="{{ path('account') }}">Return to my account</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}