{% extends 'base.html.twig' %}

{% block title %}Story - Wanwan Boutique{% endblock %}

{% block content %}
    <h2>Our Story</h2>
    <p>everyday is earth day.</p>
    
    <div class="row">
      
        <div class="col-md-5">
            <strong>THANK YOU ;)</strong>
            <strong>Credits of Photos From Pexels.com:</strong>
            <hr>
            giftpundits.com<br/>
            Suzy Hazelwood<br/>
            12:30<br/>
            Skyler Ewing<br/>
            skinny alien<br/>
            Andrea Piacquadio<br/>
            Karolina Grabowska<br/>
            Anna Shvets<br/>        
            Alexander Stemplewski<br/>
            pixabay<br/>
            Anastasiya Gepp<br/>
            Julia Volk<br/>
            Kristin Vogt<br/>
        </div>
    </div>

{% endblock %}
