{% extends 'base.html.twig' %}

{% block title %}Contact us - Wanwan Boutique{% endblock %}

{% block content %}
    <h2>Contact us</h2>
    <p>We're always at your disposal ;).</p>
    
    <div class="row">
      
        <div class="col-md-5">
            <strong>Wanwan Boutique</strong>
            <hr>
            00886 90 95 82 09 0<br/>
            friendly road 101, 19020 Taipei.<br/>
            contact@wanwanboutique.tw<br/>
        </div>
    </div>

{% endblock %}
